:root {
    /*--main-bg-color: ;*/
    --main-text-color: #ffffff;
    --input-bg-color: #9B8D62;
    --button-font-size: 2em;
    --check-bg-color: #9B8D62;
    --checkmark-bg-color: #5A5239;
}
.filters-form {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #5A5239;
    color: var(--main-text-color);
    margin: 20px auto;
    width: 90vw;
}
.wrapper{
    position: relative;
    width: 200px;
    border-radius: 10px;
    margin: 10px;
}
.container-range{
    position: relative;
    width: 100%;
    height: 40px;
}
.container-range input:focus{
    box-shadow: none;
}
.container-range input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}
.container-range .slider-track{
    width: 100%;
    height: 5px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: #0D0C0C;
}
container-range input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 5px;
}
.container-range input[type="range"]::-moz-range-track{
    -moz-appearance: none;
    height: 5px;
}
.container-range input[type="range"]::-ms-track{
    appearance: none;
    height: 5px;
}
.container-range input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 3em;
    width: 0.7em;
    background-color:var(--input-bg-color);
    cursor: pointer;
    pointer-events: auto;
}
.container-range input[type="range"]::-moz-range-thumb{
    -webkit-appearance: none;
    height: 3em;
    width: 0.7em;
    cursor: pointer;
    background-color: var(--input-bg-color);
    pointer-events: auto;
}
.container-range input[type="range"]::-ms-thumb{
    appearance: none;
    height: 3em;
    width: 0.7em;
    cursor: pointer;
    background-color: var(--input-bg-color);
    pointer-events: auto;
}
.container-range input[type="range"]:active::-webkit-slider-thumb{
    background-color: #ffffff;
    border: 3px solid #0D0C0C;
}
.values{
    display: inline-flex;
    width: 200px;
    justify-content: space-between;
    text-align: center;
    color: var(--main-text-color);
}
.range1,.range2{
    margin-top: 15px;
}
.range-name{
    position: absolute;
    left: 70px;
}
.column{
    display: flex;
    flex-direction: column;
    color: var(--main-text-color);
}
select{
    background-color: var(--input-bg-color);
    color: var(--main-text-color);
}
.label-select{
    margin-bottom: 10px;
    border: none;
    text-align: center;
    font-size: 1em;
    color: var(--input-bg-color);
}
.filter-buttons{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: #0D0C0C;
    font-size: var(--button-font-size);
}
.go-button{
    background-color: #f7e3ae; 
    box-shadow: inset 0 0 10px var(--checkmark-bg-color);
    margin-right: 5px;
}
.reset-button{
    background-color: #f7e3ae;
    margin-left: 5px;
}
.reset-button:active{
    box-shadow: 0 0 10px #000000;
    color: #ffffff00;
}
.go-button:active{
    box-shadow: 0 0 10px #000000;
    color: #ffffff00;
}
.filters-form{
    justify-content: space-between;
    align-items: center;
    border-radius: 65px;
    position: fixed;
    z-index: 10;
    margin: 0 0 0 5vw;
    top: 80px;
}
.filters-form > *{
    margin-left: 5px;
}
.search-btn{
    background: transparent url('../img/serch.png') no-repeat center;
    height: 30px;
    width: 30px;
    position: absolute;
}
.checkboxs{
    margin-top: 10px;
}
.filters-form label:hover, .filters-form input:hover {
    box-shadow: none;
}
.check-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: var(--input-bg-color);
}
.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px var(--check-bg-color) solid;
    background-color: var(--checkmark-bg-color);
}
.check-container:hover input ~ .checkmark {
    background-color: #ccc;
}
.check-container input:checked ~ .checkmark {
    background-color: var(--check-bg-color);
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.check-container input:checked ~ .checkmark:after {
    display: block;
}
.select {
    width: 100px;
    height: 40px;
    border-radius: 15px;
    text-align: center;
    font-size: 1.3em;
}